.portfolio-section {
    text-align: center;
    padding: 2rem 0;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-items: center;
    margin-top: 1rem;
  }
  
  .project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 1rem;
  }
  
  .project-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
 